body {
  height: 20000px;
  background-color: #ffffff;
}

.portrait {
  width: 350px;
  height: 465px;
  z-index: -1;
}

.landscape {
  width: 465px;
  height: 350px;
  z-index: -1;
}

.block {
  display: block;
  position: absolute;
  background-color: grey;
}

.logo {
  display: block;
  color: #000000;
  font-family: Rozha One;
  font-size: 42pt;
  font-weight: 800;
  width:100%;
  top:50%;
  position: relative;
  transform: translateY(-50%);
  z-index: 999;
}

.simpleBlock {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 1.3%;
  background-color: grey;

}

.projContainer {
  top: 0;
  display: block;
  width: 100%;
  position: fixed;
  height: 100vh;
  text-align: center;
}

.projContainer ul {
  width: 100%;
  position: absolute;
  height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.projElement {
  position: relative;
  display: block;
  vertical-align: middle;
  margin-right: 0.5%;
  padding: 0;
  transform: translateY(-50%);
  background-color: grey;
}

.projContainer img {
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  height: auto !important;
  margin: 0;
  padding: 0;
}

.aligncenter {
  clear: both;
  display: block;
}

#slimi {
  padding-top: 120vh;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}


#slimi ul{
  overflow: hidden;
}
