body {
  height: 20000px;
  background-color: #ffffff;
  margin: 0;
}


.portrait {
  width: 350px;
  height: 465px;
  z-index: 0;
}

.portrait figure img {
  height: 100% !important;
}

.landscape {
  width: 465px;
  height: 350px;
  z-index: 0;
}

.block {
  display: block;
  position: absolute;
}

.logo {
  display: inline-block;
  color: #000000;
  font-family: Rozha One;
  font-size: 42pt;
  font-weight: 800;
}

#logo {
  top:50%;
  position: relative;
  z-index: 5;
  -webkit-transform:
    scale(1,0.9)
    translateY(-50%); /* Safari and Chrome */
  -moz-transform:
    scale(1,0.9)
    translateY(-50%);  /* Firefox */
  -ms-transform:
    scale(1,0.9)
    translateY(-50%);  /* IE 9 */
  -o-transform:
    scale(1,0.9)
    translateY(-50%);
  transform:
    scale(1,0.9)
    translateY(-50%);
}

.underline {
  border-bottom: 2px solid rgb(32,32,30);
  vertical-align: top;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 2px;
}

.alignLogo {
  padding-top: 15px;
}

.simpleBlock {
  display: block;
  position: absolute;
}

.simpleBlockRight {
  left:50.5%;
}

.simpleBlockLeft {
  -webkit-transform: translateX(-100%) scale(1) !important;
  -moz-transform:translateX(-100%) scale(1) !important;
  -ms-transform:translateX(-100%) scale(1) !important;
  -o-transform:translateX(-100%) scale(1) !important;
  transform: translateX(-100%) scale(1) !important;
  left:49.5%;
}

.simpleBlockLeft figure:hover {
  -webkit-transform: scale(0.97) !important;
  -moz-transform: scale(0.97) !important;
  -ms-transform: scale(0.97) !important;
  -o-transform: scale(0.97) !important;
  transform: scale(0.97) !important;
}

.projContainer {
  pointer-events: none;
  top: 0;
  display: block;
  width: 100%;
  position: fixed;
  height: 100vh;
  text-align: center;
}

.projContainer ul {
  width: 100%;
  position: absolute;
  height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.projElement {
  position: relative;
  display: block;
  vertical-align: middle;
  margin-right: 0.5%;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform: translateY(-50%);
  pointer-events: all;
}

.projContainer img {
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  height: auto !important;
  margin: 0;
  padding: 0;
}

.aligncenter {
  clear: both;
  display: block;
}

#menu {
  pointer-events: none;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.menu {
  pointer-events: all;
  font-family: souce-sans-pro, sans-serif;
  font-size: 13pt;
  font-weight: 600;
  position: absolute;
  z-index: 999;
}

#about {
  bottom: 30px;
  left: 30px;
}

#category {
  bottom: 30px;
  right: 30px;
}

#project01 {
  padding-top: 120vh;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

.panel {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 100%;
  display: block;
  background-color: red;
  z-index: 2;
}

.blockhover {
  overflow: hidden;
}

.blockhover figure{
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.blockhover figure img {
  -webkit-transform: scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform: scale(1);
  -webkit-transition: .9s ease-in-out;
  -moz-transform: .9s ease-in-out;
  -ms-transform: .9s ease-in-out;
  -o-transform: .9s ease-in-out;
  transition: .9s ease-in-out;
  width: 100%;
}

.blockhover figure {
  -webkit-transform: scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform: scale(1);
  -webkit-transition: .9s ease-in-out;
  -moz-transform: .9s ease-in-out;
  -ms-transform: .9s ease-in-out;
  -o-transform: .9s ease-in-out;
  transition: .9s ease-in-out;
}

.blockhover figure:hover {
  -webkit-transform: scale(0.97) ;
  -moz-transform:scale(0.97);
  -ms-transform:scale(0.97);
  -o-transform:scale(0.97);
  transform: scale(0.97);
}

.blockhover figure:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform: scale(1.1);
}

 /* Captions */
.caption {
  font-family: source-sans-pro, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  text-align: left;
  opacity: 0;
}
.caption h3 {
  font-weight: 800;
  display: inline;
}
#captionProject01-1 {
  display: none;
}
#captionProject01-2 {
  display: none;
}
#captionProject02-1 {
  display: none;
}
#captionProject03-1 {
  display: none;
}
#captionProject04-1 {
  display: none;
}
#captionProject05-1 {
  display: none;
}

/* Caption actions */
#project01-1:hover + #captionProject01-1{
  display: block;
}
#project01-2:hover + #captionProject01-2{
  display: block;
}
#project02-1:hover + #captionProject02-1{
  display: block;
}
#project03-1:hover + #captionProject03-1{
  display: block;
}
#project04-1:hover + #captionProject04-1{
  display: block;
}
#project05-1:hover + #captionProject05-1{
  display: block;
}
